@model SportsStoreManagementSystem.Entities.SupplierDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SupplierDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupId" />
            <div class="form-group">
                <label asp-for="SubName" class="control-label"></label>
                <input asp-for="SubName" class="form-control" id="Supp" required />
                <span asp-validation-for="SubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAddress" class="control-label"></label>
                <input asp-for="SubAddress" class="form-control" id="Supp" required />
                <span asp-validation-for="SubAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubContact" class="control-label"></label>
                <input asp-for="SubContact" class="form-control" id="Supp1" required />
                <span asp-validation-for="SubContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Supp').on('input', function () {
                this.value = this.value.replace(/[^a-zA-Z]/g, '');
            });

            $('#Supp1').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
    </script>
}