@model SportsStoreManagementSystem.Entities.CustomerDetail

@{
    ViewBag.Title = "Check Customer";
}
<style>
    .bold-label{
        font-weight:bold;
    }
</style>

<div class="signin-container" style="margin-top: 30px;">
    <div class="form-group">
        <h1>Check</h1>
        <h1>Customer Detail</h1>
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerContact, "Contact:", htmlAttributes: new { @class = "control-label col-md-2 bold-label" })
            @Html.EditorFor(model => model.CustomerContact, new { htmlAttributes = new { @class = "form-control", @id = "Supp1", @required = "required", maxlength = "10", minlength = "10" } })
        </div>
        <button type="submit" class="btn btn-primary">
            Check Customer
        </button>
    }
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Supp1').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
    </script>
}