@{
    ViewBag.Title = "Home Page";
}


<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tallypress.com/wp-content/uploads/2018/12/Top-10-Sports-Shops-in-KL-Selangor.jpg" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.sanity.io/images/c1chvb1i/production/438af146b26507a524cfdb8254e5b7835aafc7d2-1100x735.jpg/jd-slyvia-park-open-3.jpg" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item">
            <img src="https://im.whatshot.in/img/2019/Nov/puma-store-tokyo-playner-franz-studio-002-1904040457-1573483296.jpg" class="d-block w-100" alt="Third Slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>